<ngx-charts-bar-horizontal
        [view]="view"
        scheme="cool"
        [results]="data"
        [gradient]=true
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="true"
        [legendTitle]="xAxisLabel"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showDataLabel]="true"
        [wrapTicks]="true"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        style="fill: #aaa7a7;">
</ngx-charts-bar-horizontal>